* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

body::after {
  content: ".";
  display: block;
  visibility: hidden;
}

button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

.page-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  margin-bottom: 10vh;
}

.content-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#team-list-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-block {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.field-block .example-block {
  margin-left: 30px;
}

.field-block .example {
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: #FFF;
  padding: 8px;
  border-radius: 8px;
  box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
              inset -2px -2px 12px rgba(255,255,255,0.5),
              inset 2px 2px 4px rgba(255,255,255,0.1),
              inset 2px 2px 8px rgba(0,0,0,0.15);
}

.field-block #team-list-example {
  color: #444;
  background: transparent;
  resize: none;
  overflow: hidden;
  outline: none;
  border: none;
  font-style: italic;
}

.field-block .example button {
  border: none;
  background: none;
  outline: none;
  font-size: 24px;
  color: #CCC;
}

.field-block label {
  max-width: 50%;
  display: inline-block;
}

.field-block textarea#team-list {
  flex: 1;
  align-self: center;
  width: 350px;
  height: 16rem;
  min-height: 8rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: #DDD;
  outline: none;
  border: 1px solid #FFF;
  padding: 12px 16px;
  font-size: 16px;
}
.field-block textarea#team-list:focus {
  border: 2px solid #222;
}

button.generate-rounds {
  background-color: #3BF;
  color: white;
  font-weight: bold;
  width: 50%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-top: 8px;
  outline: none;
  box-shadow: 0 5px 0 1px #2AF;
  transition: 0.2s;
}

button.generate-rounds:active {
  transform: translateY(5px);
  box-shadow: none;
}

#rounds {
  display: none;
  flex: 1;
  animation: showRounds 0.5s ease;
}

@keyframes showRounds {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#rounds h2 {
  margin-bottom: 8px;
}

#rounds .rounds-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-top: 1px solid #DDD;
  border-bottom: 3px solid #DDD;
}

#rounds .rounds-header button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 3px;
}

#rounds .rounds-header button i {
  transition: 0.2s ease;
}

#rounds .rounds-header button.prev {
  display: none;
}

#rounds .rounds-header button.prev:active i {
  transform: translateX(-8px);
}

#rounds .rounds-header button.next:active i {
  transform: translateX(8px);
}

#rounds ul {
  width: 100%;
}

#rounds ul li {
  display: none;
  animation: showRound 1s ease;
}

@keyframes showRound {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#rounds ul li[data-round="1"]{
  display: block;
}

#rounds .match {
  min-width: 300px;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #DDD;
}

#rounds .match .locale {
  font-size: 12px;
  text-transform: uppercase;
}

#rounds .match-result {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

#rounds .match-result .versus {
  margin: 5px 15px 0;

}

#rounds .match-result .home-team,
#rounds .match-result .away-team {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
#rounds .match .match-result .away-team
{
  flex-direction: row-reverse;
}

#rounds .match-result strong {
  font-size: 24px;
}

.win {
  color: #090;
}

.lose {
  color: #F00;
}

#leaderBoard {
  display: none;
  flex: 1;
  margin-left: 30px;
  animation: showTable 0.5s ease;
}

@keyframes showTable {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#leaderBoard table {
  width: 100%;
  border-collapse: collapse;
}

#leaderBoard table caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#leaderBoard table thead th {
  border-top: 1px solid #DDD;
  border-bottom: 3px solid #DDD;
}

#leaderBoard table td, #leaderBoard table th{
  padding: 14px 16px;
  text-align: center;
}

#leaderBoard table td {
  border-bottom: 1px solid #DDD;
}

#leaderBoard table td:first-child, #leaderBoard table th:first-child{
  border-right: 2px solid #BBB;
}

#leaderBoard table td:nth-child(even) {
  background-color: rgba(242,242,242,.5);
}

#leaderBoard table td.placing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer {
  background-color: white;
  position: absolute;
  bottom: 0;
  height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

.page-footer a {
  margin-left: 5px;
}

@media(max-width: 800px) {
  #leaderBoard {
    margin-left: 0;
    margin-top: 10vh;
  }
}